@font-face {
    font-family: "Inter-Regular";
    src: url(assets/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Inter-Bold";
    src: url(assets/fonts/Inter-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(assets/fonts/Inter-ExtraBold.ttf) format("truetype");
}

$color-pink: #FF3998;
$color-grey: #555555;
$color-border: #FF8139;
$color-mild-grey: #999999;

%grey-line-height{
    color: $color-grey;
    line-height: 25px;
}

body{
    font-family:"Inter-Regular";
    margin: 32px 0 32px 32px;
}

header{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.menu-link{
    visibility: hidden;
}

.hero{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 110px 0 0 32px;
    flex: 1fr, 1fr;
}

.hero-block h1{
    font-family: "Inter-SemiBold";
}

.hero-block h3{
    color: $color-pink;
}

.hero-text{
    @extend %grey-line-height;
}

.graphic-img{
    float: right;
    width: 189.62px;
    height: 278px;
    background-image: linear-gradient(pink);
}

.sign-up{
    border-color: $color-border;
    background-color: white;
    border-radius: 50px;
    padding: 15px 30px;
    margin-bottom: 30px;
}

.upsell{
    background-image: url(assets/background.svg);
    padding: 50px 32px 20px 32px;
    margin: 50px 0 10px 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0;
}

.press{
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.press-four{
    display: none;
}

.showcase{
    overflow: hidden;
}

.showcase{
    p{
        @extend %grey-line-height;
    }
    p a{
        color: $color-grey;
    }
}

.group{
    display: flex;
    flex-direction: column;
}

.about-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.about-group img{
    height: 22px;
    margin: 0 5px;
}

.align-right{
    text-align: right;
}

.all-group{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
}

.group{
    margin: 10px;
}

.about-group h6, h4{
    margin: 0;
}

.about-group h6:first-of-type{
    color: #FF8139;
}

.footer-upsell{
    margin: 50px auto;
    display: flex;
    flex-direction: row;
}


.footer-upsell{
    h1{
        font-family: "Inter-ExtraBold";
        font-size: 56px;
    }
    h3{
        color: $color-pink;
    }
    img{
        float: right;
        display: flex;
        align-self: flex-end;
    }
}

.ftupsell-text p{
    @extend %grey-line-height;
}

.right-footer a{
    text-decoration: none;
    color: $color-grey;
    margin: 10px 0;
}

.left-footer p{
    color: $color-grey;
}

.right-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    margin-top: 50px;
}

.bottom-footer{
    color: $color-mild-grey;
    margin: 30px 0;
}

.boootom-right-footer{
    display: none;
}

.social-media-icons img{
    height: 18px;
}

@media screen and (min-width:600px){

    body{
        margin: 80px;
    }

    .menu-link{
        visibility: visible;
    }

    .menu-link a{
        margin-left: 80px;
        text-decoration: none;
        color: $color-grey;
    }

    .menu-btn{
        display: none;
    }

    .hero{
        h1{
            weight: 900;
            font-size: 96px;
            line-height: 116px;
        }
        h3{
            font-size: 16px;
        }
        p{
            font-size: 20px;
            line-height: 30px;
        }
    }

    .hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        }

    .graphic-img{
        height: 519px;
        width: 328px;
        margin: 0 50px;
    }

    .sign-up{
        width: 188px;
        height: 75px;
        margin-top: 20px;
    }

    .upsell{
        height: 320px;
    }

    .upsell h1{
        font-size: 40px;
        margin-top: 170px;
    }

    .press-four{
        display: inline;
    }

    .press{
        padding: 47px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .showcase h1{
        font-size: 40px;
    }

    .ftupsell-text{
        h1{
            font-size: 56px;
            margin-right: 31px;
        }

        h3{
            font-size: 16px;
            margin-top: 80px;
        }

        p{
            margin-right: 114px;
        }
    }

    .footer-upsell{
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        }

    .footer-upsell img{
        margin-left: 202px;
        margin-bottom: 0;
        margin-top: 100px;
    }

    hr{
        margin: 0;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        }

    .left-footer{
        margin-top: 50px;
    }

    .boootom-right-footer{
        margin-top: 30px;
        display: inline;
        color: $color-mild-grey;
    }
}