@font-face {
  font-family: "Inter-Regular";
  src: url(assets/fonts/Inter-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Inter-Bold";
  src: url(assets/fonts/Inter-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url(assets/fonts/Inter-ExtraBold.ttf) format("truetype");
}
.ftupsell-text p, .showcase p, .hero-text {
  color: #555555;
  line-height: 25px;
}

body {
  font-family: "Inter-Regular";
  margin: 32px 0 32px 32px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.menu-link {
  visibility: hidden;
}

.menu-btn {
  border-style: none;
  background-color: white;
}

.hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 110px 0 0 0;
  flex: 1fr, 1fr;
}

.hero-block h1 {
  font-family: "Inter-SemiBold";
}

.hero-block h3 {
  color: #FF3998;
}

.graphic-img {
  float: right;
  width: 189.62px;
  height: 278px;
}

.sign-up {
  border-color: #FF8139;
  background-color: white;
  border-radius: 50px;
  padding: 15px 30px;
  margin-bottom: 30px;
}

.upsell {
  background-image: url(assets/background.svg);
  padding: 50px 32px 20px 32px;
  margin: 50px -32px 10px -32px;
  background-repeat: no-repeat;
  background-size: cover;
}

.press {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.press-four {
  display: none;
}

.showcase {
  overflow: hidden;
}

.showcase p a {
  color: #555555;
}

.group {
  display: flex;
  flex-direction: column;
}

.about-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.about-group img {
  height: 22px;
  margin: 0 5px;
}

.align-right {
  text-align: right;
}

.all-group {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.group {
  margin: 10px;
}

.about-group h6, h4 {
  margin: 0;
}

.about-group h6:first-of-type {
  color: #FF8139;
}

.footer-upsell {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
}

.footer-upsell h1 {
  font-family: "Inter-ExtraBold";
  font-size: 56px;
}
.footer-upsell h3 {
  color: #FF3998;
}
.footer-upsell img {
  float: right;
  display: flex;
  align-self: flex-end;
}

.right-footer a {
  text-decoration: none;
  color: #555555;
  margin: 10px 0;
}

.left-footer p {
  color: #555555;
}

.right-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.rfooter-about-box, .rfooter-nft-box, .rfooter-contact-box, .rfooter-social-box {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.bottom-footer {
  color: #999999;
  margin: 30px 0;
}

.bottom-right-footer {
  display: none;
}

.social-media-icons img {
  height: 18px;
}

@media screen and (min-width: 600px) {
  body {
    margin: 80px;
    margin-bottom: 0;
  }
  .menu-link {
    visibility: visible;
  }
  .menu-link a {
    margin-left: 80px;
    text-decoration: none;
    color: #555555;
  }
  .menu-btn {
    display: none;
  }
  .hero h1 {
    weight: 900;
    font-size: 96px;
    line-height: 116px;
  }
  .hero h3 {
    font-size: 16px;
  }
  .hero p {
    font-size: 20px;
    line-height: 30px;
  }
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .graphic-img {
    width: 554px;
    height: 719px;
    margin: 0 50px;
  }
  .sign-up {
    width: 188px;
    height: 75px;
    margin: 20px 0 50px 0;
  }
  .upsell {
    height: 320px;
  }
  .upsell h1 {
    font-size: 40px;
    margin-top: 170px;
  }
  .press-four {
    display: inline;
  }
  .press {
    padding: 47px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .showcase h1 {
    font-size: 40px;
  }
  .ftupsell-text h1 {
    font-size: 56px;
    margin-right: 31px;
  }
  .ftupsell-text h3 {
    font-size: 16px;
    margin-top: 80px;
  }
  .ftupsell-text p {
    margin-right: 114px;
  }
  .footer-upsell {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .footer-upsell img {
    margin-left: 202px;
    margin-bottom: 0;
    margin-top: 100px;
  }
  hr {
    margin: 0;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }
  .left-footer {
    margin-top: 50px;
  }
  .bottom-right-footer {
    margin: 30px 0 0 0;
    display: inline;
    color: #999999;
    text-align: right;
  }
  .right-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .rfooter-about-box, .rfooter-nft-box, .rfooter-contact-box, .rfooter-social-box {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
  }
  .bottom-footer {
    margin: 30px 0 0 0;
  }
}/*# sourceMappingURL=styles.css.map */